<br><br>

<form class="form_container" id="newtweet">
  Crea un tweet nuevo:
  <br><br>
  <textarea name="newTweet" id="inp" style="width:500px;"></textarea>
  <br><br>
  <button>Enviar</button>
</form>

<br>
<div class="loader"> 
<img src="img/Preloader_3.gif">
<br>
<span class="cargando">Cargando ...</span>
<br>
</div>

<div class="answer">
</div>

<div class="error">
</div>