
<br><br>

Bienvenido has iniciado sesión:

<br><br>
<a href="/tweet">Crea un tweet</a>
<br><br>  
<a href="/tweets">Busca el time line de un usuario</a>

<br><br>  
<a href="/logout/session">Cerrar sesion</a>